<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="{{url_for('static', filename='css/profile.css')}}" rel="stylesheet" />

    <title>{{title}}</title>

</head>
<body>
<div class="nav">
    {%for i in menu%}
        <a href="{{i.url}}">{{i.name}}</a>
    {%endfor%}
</div>
<div class="conteiner">
<form class="logout" action="/logout" method="POST" >
    <button>Выход</button>
</form>

        <table>
            <tr class="th">
                <th>Ссылка</th>
                <th>Тип</th>
                <th>Кол-во переходов</th>
                <th>Действие</th>
            </tr>
                {%for i in link_table%}
            <tr>
                <td>
                        <a href="{{baselink}}href/{{i[2]}}">{{baselink}}href/{{i[2]}}</a>
                </td>
                <td>
                        <p>{{i[7]}}</p>
                </td>
                <td>
                        <p>{{i[5]}}</p>
                </td>
                <td class="button">
                    <form class="delete" action="/delete" method="POST">
                        <button name="delete" value="{{i[0]}}">Удалить</button>
                    </form>
                     <form class="update" action="/update" method="POST">
                        <button name="update" value="{{i[0]}}">Изменить</button>
                    </form>
                </td>
            </tr>
                {%endfor%}
        </table>

</div>
</body>
</html>